body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

#canvas-space {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

#controls {
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
}